$white: #ffffff !default;
$black: #2D2D2D !default;
$colorRed: #DA2032 !default;
$colorGrey: #5D5C5C !default;
$colorGreyDark: #C5C5C5 !default;
$colorBlack: #000;
$colorTextGrey: #2D2D2D !default;
$colorLine: #707070  !default;