// Media Queries
$m-620-d: "all and (max-width: 620px)";
$m-620-u: "all and (min-width: 620px)";

$m-760-d: "all and (max-width: 759px)";
$m-760-u: "all and (min-width: 760px)";

$m-900-d: "all and (max-width: 899px)";
$m-900-u: "all and (min-width: 900px)";

$m-1000-d: "all and (max-width: 999px)";
$m-1000-u: "all and (min-width: 1000px)";

$m-1180-u: "all and (min-width: 1180px)";
$m-1400-u: "all and (min-width: 1400px)";